.App{
  text-align: center;
  display: grid;
  grid-template-areas: 
  "h h h"
  "f f p"
  "w w p"
  "t t p"
}

.App-header {
  background-color: rgb(146, 188, 244);
  border: 3px solid white;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 50px;
  margin-right: 50px;
  grid-area: h;
  opacity: 0.8;
}

.weather{
  grid-area: f;
  background-color: rgb(146, 188, 244);
  border-radius: 25px;
  border: 3px solid white;
  margin: 2px;
  padding: 10px;
  margin-left: 50px;
  opacity: 0.8;
}

.current{
  border: 2px solid white;
  border-radius: 25px;
  background-color: rgb(146, 188, 244);
  grid-area: w;
  margin: 3px;
  margin-left: 50px;
  opacity: 0.8;
}

.three-day{
  grid-area: t;
  display: grid;
  grid-template-areas: "a b c";
  margin-left: 50px;
}

span{
  font-weight: bold;
}

.today{
  border: 2px solid white;
  border-radius: 25px;
  background-color: rgb(146, 188, 244);
  grid-area: a;
  margin: 3px;
  opacity: 0.8;
}

.tomorrow{
  border: 2px solid white;
  border-radius: 25px;
  background-color: rgb(146, 188, 244);
  grid-area: b;
  margin: 3px;
  opacity: 0.8;
}

.day-after{
  border: 2px solid white;
  border-radius: 25px;
  background-color: rgb(146, 188, 244);
  grid-area: c;
  margin: 3px;
  opacity: 0.8;
}

.previous{
  border: 3px solid white;
  border-radius: 25px;
  margin: 2px;
  background-color: rgb(146, 188, 244);
  margin-right: 50px;
  opacity: 0.8;
}

input{
  margin: 2px;
}

.current img{
  width: 200px;
}


